.idea/

/bb-barrel/bak/
/bb-reg/bak/
/bb-reg/sc.psicov/3rbh.psicov
/bb-reg/sc.psicov/1i78.psicov
/bb-reg/sc.psicov/4c00.psicov
/bb-reg/sc.psicov/1kmo.psicov
/bb-reg/sc.psicov/1bxw.psicov
/bb-reg/sc.psicov/3csl.psicov
/bb-reg/sc.psicov/2erv.psicov
/bb-reg/sc.psicov/1nqe.psicov
/bb-reg/sc.psicov/3aeh.psicov
/bb-reg/sc.psicov/3o44.psicov
/bb-reg/sc.psicov/4k3b.psicov
/bb-reg/sc.psicov/2lhf.psicov
/bb-reg/sc.psicov/4k3c.psicov
/bb-reg/sc.psicov/1k24.psicov
/bb-reg/sc.psicov/3pik.psicov
/bb-reg/sc.psicov/3dzm.psicov
/bb-reg/sc.psicov/2vqi.psicov
/bb-reg/sc.psicov/1ek9.psicov
/bb-reg/sc.psicov/2por.psicov
/bb-reg/sc.psicov/2wjr.psicov
/bb-reg/sc.psicov/1p4t.psicov
/bb-reg/sc.psicov/2qdz.psicov
/bb-reg/sc.psicov/1tly.psicov
/bb-reg/sc.psicov/4pr7.psicov
/bb-reg/sc.psicov/3fid.psicov
/bb-reg/sc.psicov/2f1c.psicov
/bb-reg/sc.psicov/1thq.psicov
/bb-reg/sc.psicov/3szv.psicov
/bb-reg/sc.psicov/4gey.psicov
/bb-reg/sc.psicov/1qj8.psicov
/bb-reg/sc.psicov/2omf.psicov
/bb-reg/sc.psicov/1yc9.psicov
/bb-reg/sc.psicov/1e54.psicov
/bb-reg/sc.psicov/1xkw.psicov
/bb-reg/sc.psicov/3dwo.psicov
/bb-reg/sc.psicov/3v8x.psicov
/bb-reg/sc.psicov/2lme.psicov
/bb-reg/sc.psicov/3b07.psicov
/bb-reg/sc.psicov/2mpr.psicov
/bb-reg/sc.psicov/2mlh.psicov
/bb-reg/sc.psicov/3rfz.psicov
/bb-reg/sc.psicov/1qd6.psicov
/bb-reg/sc.psicov/4c4v.psicov
/bb-reg/sc.psicov/3kvn.psicov
/bb-reg/sc.psicov/3bs0.psicov
/bb-reg/sc.psicov/4e1s.psicov
/bb-reg/sc.psicov/4n75.psicov
/bb-reg/sc.psicov/2o4v.psicov
/bb-reg/sc.psicov/7ahl.psicov
/bb-reg/sc.psicov/1prn.psicov
/bb-reg/sc.psicov/omgf.psicov
/bb-reg/sc.psicov/3vzt.psicov
/bb-reg/sc.psicov/3syb.psicov
/bb-reg/sc.psicov/1fep.psicov
/bb-reg/sc.psicov/2f1t.psicov
/bb-reg/sc.psicov/1uyn.psicov
/bb-reg/sc.psicov/2fcp.psicov
/bb-reg/sc.psicov/2ynk.psicov
/bb-reg/sc.psicov/2gr8.psicov
/bb-reg/sc.psicov/1t16.psicov
/bb-reg/sc.psicov/4q35.psicov
/bb-reg/sc.psicov/3emn.psicov

